
/* Overall format */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #c0d5e3;
	padding: 0px;
	margin: 0px; 
}


/* Page header */

header {
	position: fixed;
	top: 0px;
	padding: 0px;
	margin: 0px;
	width: 100vw;
	z-index: 1;
}

#title-bar{
	position: relative; 
	top: 0px; 
}

#page-title {
	/* center in title bar */
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	color: white;
}

#header-image {
	width: 100vw;
	height: auto;
	padding: 0px;
	margin: 0px;
}

#page-title h1 {
	font-size: 5vw;
	margin: 0.3%;
}

#page-title h2 {
	font-size: 3vw;
	margin: 0.3%;
}

/* Navigation bar */

#nav-bar {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	margin: 0;
  	padding: 0;
  	width: 100%;
  	background-color: #333;
}

#nav-bar .nav-home, #nav-bar .nav-item {
  	display: inline-block;
  	color: white;
  	text-align: left;
  	padding: 16px 14px;
  	text-decoration: none;
}

#nav-bar .nav-home {
  	text-align: left;
  	margin-right: auto;	
}

#nav-bar .nav-item {
  	text-align: right;
}

#nav-bar .nav-home:hover, #nav-bar .nav-item:hover {
  	background-color: #111;
}

/* Content */

.app-article {
	max-width: 94%; 
	width: 36em;
	margin-left: auto;
	margin-right: auto;
}

.article-image {
	float: right;
	margin: 2%;
}

/* App boxes */

.app-boxes {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding-top: 0.5%;
}

.app-box {
	flex: 1;
	box-sizing: border-box;
	padding: 1.5%;
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 95vw;
	background-color: #c9bd97;
}

.app-title {
	margin-top: 0em;
	margin-bottom: 0.25em;
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.app-text {
	margin-top: 0em;
	margin-bottom: 0.75em;
	font-size: 1.5em;
	text-align: center;
}


.app-icon {
	display: block;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15%;
	height: 100px;
	width: 100px;
}

/* responsive design for small screens */

@media screen and (max-width: 800px) {

	#nav-bar {
		display: none;
	}	
	
	.app-title {
		font-size: 2em;
	}
	
	.app-text {
		font-size: 1.25em;
	}

}