
/* Color Palette

	A southwest palette extracted from an image of the Grand Canyon

	rgb(193,213,226);	sky blue 
	rgb(201,188,153);	gold 
	rgb(141,113,113);	red clay 
	rgb(234,236,238);	white clouds 
	rgb(187,160,154);	pink rocks 
	rgb(90,76,76);		dark red clay 
	rgb(62,68,85);		dark blue rocks 
	
*/

/* color theme */

body {
	background-color: rgb(193,213,226);	/* sky blue */
}

#nav-bar {
	background-color: rgb(90,76,76);	/* dark red clay */
}

.nav-item:hover {
  	background-color: rgb(187,160,154);	/* pink rocks */
}

.dropdown-item {
	background-color: rgb(90,76,76);	/* dark red clay */
}

.dropdown-item:hover {
	background-color: rgb(187,160,154);	/* pink rocks */
}

.app-box {
	background-color: rgb(201,188,153);	/* gold */
}



/* Overall format */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 0px;
	margin: 0px; 
}


/* Page header */

header {
	position: fixed;
	top: 0px;
	padding: 0px;
	margin: 0px;
	width: 100vw;
	z-index: 1;
}

#title-bar{
	position: relative; 
	top: 0px; 
}

#page-title {
	/* center in title bar */
	position: absolute;
	top: 50%;
	left: 50%;
  	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	color: white;
}

#header-image {
	width: 100vw;
	height: auto;
	padding: 0px;
	margin: 0px;
}

#page-title h1 {
	font-size: 5vw;
	margin: 0.3%;
}

#page-title h2 {
	font-size: 3vw;
	margin: 0.3%;
}

/* Navigation bar */

#nav-bar {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	margin: 0;
  	padding: 0;
  	width: 100%;
}

.nav-item {
  	display: inline-block;
  	color: white;
  	text-align: left;
  	padding: 0.5em 1em;
  	font-size: 1em;
  	text-decoration: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	top;
	left;
	z-index: 1;
}

.dropdown-item {
	float: none;
	text-align: left;
	padding: 0.5em 1em;
	text-decoration: none;
	font-size: 1em;
	display: block;
	color: inherit;
}

.nav-item:hover .dropdown-content {
	display: block;
}


/* Content */

.app-article {
	max-width: 94%; 
	width: 36em;
	margin-left: auto;
	margin-right: auto;
}

.article-image {
	float: right;
	margin: 2%;
}

/* App boxes */

.app-boxes {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding-top: 0.5%;
}

.app-box {
	flex: 1;
	box-sizing: border-box;
	padding: 1.5%;
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
	width: 95vw;
}

.app-title {
	margin-top: 0em;
	margin-bottom: 0.25em;
	font-size: 3em;
	width: 100%;
	text-align: center;
}

.app-text {
	margin-top: 0em;
	margin-bottom: 0.75em;
	font-size: 1.5em;
	text-align: center;
}


.app-icon {
	display: block;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15%;
	height: 100px;
	width: 100px;
}

/* responsive design for small screens */

@media screen and (max-width: 800px) {

	.app-title {
		font-size: 2em;
	}
	
	.app-text {
		font-size: 1.25em;
	}

}